body {
	font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}


div.centerer {
	width: 800px;
	margin-left:auto;
	margin-right:auto;
}


.search_room_results, .search_room_results li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.search_room_results {
	width: 520px;
	/*border: 1px solid black;*/
}

.search_room_results li img {
	float:right;
}

.search_room_results li h3 {
	margin:0;
}

.search_room_results > li  {
	/*clear:both;*/
	position: relative;
	/*margin: 5px;*/
	border-bottom: 1px dashed black;
}

.room_item > div {
	margin-top: 5px;
	margin-bottom:5px;
}


.room_item p {
	margin-top:5px;
	margin-bottom:5px;
}

.room_item div.price_block div:first-child{
	font-size: 80%;
}

.room_item div.price_block {
	float:left;
	width:100px;
	
}
.room_item div.price {	
	font-size: 130%;
	/*float:left;*/
	color: orange;
	/*text-align:right;*/
	/*padding-right: 5px;*/
	
}

.room_item .room_type_details {
	float:left;
	width: 410px;
}


/*.search_room_results .book_room_btn {
	position: absolute;
	bottom:0px;
	left: 0px;
}*/

div.fix {
	clear:both;
}

#Reservations_Searchbox {
	width: 250px;
	float:left;
	position:relative;
}

#Reservations_Searchbox input[type=text] {
	position: absolute;
	left: 50px;
}

#Reservations_SearchResults {
	float:left;
}

#Reservations_DetailsForm {
	position:relative;
}

.reservation_details_form p {
	position:relative;
}

.reservation_details_form p input[type=text] {
	position: absolute;
	left: 200px;
}

label.error{
	text-align:right;
	color:red;
	font-size:80%;
	position:absolute;
	left: 200px;
	top:20px;
}


h2 a {
	color:black;
}

.reservation_summary table td {
	vertical-align:top;
}

.reservation_summary table  td:first-child {
	width: 200px;
}

div.summary_block {
	float:left;
	width: 400px;
}

#Pricing_RoomTypeIDsAvailable_RoomPrices,#RoomTypeDetails_RoomTypeIDsAvailable_RoomTypeDetails,#Guest_ObtainReservationDetails,#Payment_ObtainReservationDetails {
	display:none;
}