@*Generator:Template*@

@functions {
	public Guid ReservationId{get;set;}
}

<div class="obtain_billing_information">
<script type="text/javascript" src="/Scripts/Services/PaymentService/ObtainBillingInformation.js"></script>
<input type="hidden" name="Payment.ReservationId" value="@ReservationId" />
<h4>
Billing address
</h4>
<p>
	Firstname: <input data-firstname type="text" name="Payment.Address.Firstname" />
</p>
<p>
	Lastname: <input data-lastname type="text" name="Payment.Address.Lastname" />
</p>
<p>
	Street: <input data-streetname type="text" name="Payment.Address.Street" />
</p>
<p>
	Postal code: <input data-postalcode type="text" name="Payment.Address.PostalCode" />
</p>
<p>
	City: <input data-city type="text" name="Payment.Address.City" />
</p>

<h4>Credit card</h4>
<p>
Credit card number: <input type="text" name="Payment.CreditCardNumber" />
</p>

<p>
Expiration date (mm-yyyy): <input type="text" name="Payment.CreditCardExperiationDate" />
</p>
</div>