@* Generator:Template *@

@functions {
	public Guid ReservationId{get;set;}
}

<div class="obtain_billing_information">
<script type="text/javascript" src="/Scripts/Services/PaymentService/ObtainBillingInformation.js"></script>
<input type="hidden" name="Payment.ReservationId" value="@ReservationId" />
<p>
Credit card number: <input type="text" name="Payment.CreditCardNumber" />
</p>
</div>