@* Generator:Template *@
<div class="summary_block">
<h3>Payment information</h3>
<table class="payment_information_summary">
<tr>
<td>
Billing name
</td>
<td>Freek Paans</td>
</tr>
<tr>
<td>Billing address</td>
<td>Test<br />13123EN
</td>
</tr>
<tr>
<td>
Credit card number
</td>
<td>
**** **** **** 1234
</td>
</tr>
</table>
</div>