@* Generator: Template *@ 

@functions {
	public RoomTypeDetailsService.WebInterface.ViewModels.RoomTypeDetailsViewModel Model{get;set;}
}

<h3>@Model.RoomTypeName</h3>
<p>
<img width="100" height="150" src="@Model.RoomTypeImageUrl" alt="roomtype impression" /> 
@Model.RoomTypeDescription
</p>
<div class="fix"></div>