@* Generator: Template *@ 

@functions {
	public ICollection<RoomTypeDetailsService.WebInterface.ViewModels.RoomTypeDetailsViewModel> Details{get;set;}
}

@foreach(var roomType in Details) {

<div class="room_type_details" roomtypeid="@roomType.RoomTypeId">
<h3>@roomType.RoomTypeName</h3>
<p>
<img width="100" height="150" src="@roomType.RoomTypeImageUrl" alt="roomtype impression" /> 
@roomType.RoomTypeDescription
</p>
<div class="fix"></div>
</div>

}