/CustomerWebsite.WebInterface/CustomerWebsite.WebInterface.csproj.user
/CustomerWebsite.Events/bin
/CustomerWebsite.Events/obj
/CustomerWebsite.WebInterface/obj
/CustomerWebsite.WebInterface/bin
/GuestService.WebInterface/obj
/GuestService.WebInterface/bin

/Infrastructure/obj
/Infrastructure.Messaging.NServiceBus/obj
/Infrastructure.Messaging.NServiceBus/bin
/PaymentService.BusinessLogic/obj
/PaymentService.BusinessLogic/bin

/PaymentService.Commands/bin
/PaymentService.Commands/obj

/PaymentService.WebInterface/obj
/PaymentService.WebInterface/bin
/ReservationService.Commands/bin
/ReservationService.Commands/obj
/ReservationService.Contracts/obj
/ReservationService.Contracts/bin

/ReservationService.WebInterface/obj
/ReservationService.WebInterface/bin

/RoomTypeDetailsService.WebInterface/obj
/RoomTypeDetailsService.WebInterface/bin

/ADSDHotelExample.v11.suo

/CustomerWebsite.WebInterface/Properties/PublishProfiles/Zip.pubxml.user
/CustomerWebsite.WebInterface/Scripts/GuestService/ObtainGuestDetails.js
/CustomerWebsite.WebInterface/Scripts/PaymentService/ObtainBillingInformation.js
/CustomerWebsite.WebInterface/Scripts/ReservationService/ReservationDetailsForm.js
/CustomerWebsite.WebInterface/Scripts/ReservationService/SearchBox.js

/GuestService.WebInterface/GuestService.WebInterface.csproj.user
/PaymentService.WebInterface/PaymentService.WebInterface.csproj.user
/ReservationService.WebInterface/ReservationService.WebInterface.csproj.user
/RoomTypeDetailsService.WebInterface/RoomTypeDetailsService.WebInterface.csproj.user
/packages/Castle.Core.3.2.0
/packages/jQuery.UI.Combined.1.10.2
/packages/Castle.Windsor.3.2.0
/packages/jQuery.2.0.0
/packages/Microsoft.AspNet.WebApi.Core.4.0.20710.0
/packages/log4net.1.2.10
/packages/Microsoft.AspNet.Mvc.4.0.20710.0
/packages/Microsoft.AspNet.Razor.2.0.20710.0
/packages/Microsoft.AspNet.WebApi.4.0.20710.0
/packages/Microsoft.AspNet.WebApi.Client.4.0.20710.0
/packages/NServiceBus.3.3.6
/packages/Microsoft.AspNet.WebApi.WebHost.4.0.20710.0
/packages/Microsoft.AspNet.WebPages.2.0.20710.0
/packages/Microsoft.Net.Http.2.0.20710.0
/packages/Microsoft.Web.Infrastructure.1.0.0.0
/packages/Newtonsoft.Json.4.5.6
/packages/WebActivatorEx.2.0.1
/packages/NServiceBus.CastleWindsor.3.3.6
/packages/NServiceBus.Interfaces.3.3.6
/packages/RazorGenerator.Mvc.2.0.0
/packages/RazorGenerator.Templating.2.0.0
/GuestService.Logic/obj
/GuestService.Logic/bin
/Infrastructure/bin
/packages

/PricingService.WebInterface/PricingService.WebInterface.csproj.user

/PricingService.WebInterface/obj
/PricingService.WebInterface/bin
/CustomerWebsite.WebInterface/Scripts/Services
/CustomerWebsite.Contracts/obj
/CustomerWebsite.Contracts/bin
/GuestService.Backend/bin
/GuestService.Backend/obj
/PaymentService.Backend/bin
/PaymentService.Backend/obj
/ReservationService.Backend/bin
/ReservationService.Backend/obj
