/CustomerWebsite.WebInterface/CustomerWebsite.WebInterface.csproj.user
/CustomerWebsite.Events/bin
/CustomerWebsite.Events/obj
/CustomerWebsite.WebInterface/obj
/CustomerWebsite.WebInterface/bin
/GuestService.WebInterface/obj
/GuestService.WebInterface/bin

/Infrastructure/obj
/Infrastructure.Messaging.NServiceBus/obj
/Infrastructure.Messaging.NServiceBus/bin
/PaymentService.BusinessLogic/obj
/PaymentService.BusinessLogic/bin

/PaymentService.Commands/bin
/PaymentService.Commands/obj

/PaymentService.WebInterface/obj
/PaymentService.WebInterface/bin
/ReservationService.Commands/bin
/ReservationService.Commands/obj
/ReservationService.Contracts/obj
/ReservationService.Contracts/bin

/ReservationService.WebInterface/obj
/ReservationService.WebInterface/bin

/RoomTypeDetailsService.WebInterface/obj
/RoomTypeDetailsService.WebInterface/bin

/ADSDHotelExample.v11.suo

/CustomerWebsite.WebInterface/Properties/PublishProfiles/Zip.pubxml.user
/CustomerWebsite.WebInterface/Scripts/GuestService/ObtainGuestDetails.js
/CustomerWebsite.WebInterface/Scripts/PaymentService/ObtainBillingInformation.js
/CustomerWebsite.WebInterface/Scripts/ReservationService/ReservationDetailsForm.js
/CustomerWebsite.WebInterface/Scripts/ReservationService/SearchBox.js

/GuestService.WebInterface/GuestService.WebInterface.csproj.user
/PaymentService.WebInterface/PaymentService.WebInterface.csproj.user
/ReservationService.WebInterface/ReservationService.WebInterface.csproj.user
/RoomTypeDetailsService.WebInterface/RoomTypeDetailsService.WebInterface.csproj.user
