@model Infrastructure.HTTP.ProcessingPipeline.HttpProcessingPipelineContext

@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the ADSD hotel!</h2>

@foreach(var sect in ViewBag.HttpProcessingPipelineContext.RenderSections()) {
	<div id="@sect.Key">@Html.Raw(sect.Value)</div>
}
