<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
	<script type="text/javascript" src="/Scripts/jquery-2.0.0.js"></script>
	<script type="text/javascript" src="/Scripts/jquery-ui-1.10.2.js"></script>
	<script type="text/javascript" src="/Scripts/jquery.validate.js"></script>

	<script type="text/javascript" src="/Scripts/infrastructure/address.js"></script>
	
	<link rel="stylesheet" href="/Content/themes/base/jquery-ui.css" />
	<link rel="stylesheet" href="/Content/Site.css" />
</head>
<body class="@ViewBag.BodyClasses">
    <div class="centerer">
		<h2><a href="/">Welcome to the ADSD hotel!</a></h2>
        @RenderBody()
    </div>
	@foreach(var sect in ViewBag.HttpProcessingPipelineContext.RenderSections()) {
		@Html.Raw(sect.Value)
	}
</body>
</html>
