@{
    ViewBag.Title = "Front desk";
}

<fieldset class="find_reservation">
<legend>Find reservation</legend>
<div class="row">
<form class="search_by_guest_name">
By name: <input type="text" name="search_by_name" class="search_input" />
</form>
</div>
<div class="row">
<form class="search_by_reservation_number">
By reservation number: <input type="text" name="search_by_reservation_id" class="search_input" />
</form>
</div>
</fieldset>
<div class="reservation_details hidden"></div>
