@* Generator:Template *@
<div class="summary_block">
<h3>Reservation details</h3>
<table>
<tr>
<td>Arrival date</td>
<td>5th May 2013</td>
</tr>
<tr>
<td>Checkout date</td>
<td>12th May 2013</td>
</tr>
<tr>
<td>Room type</td>
<td class="roomtype_id" id="@Guid.NewGuid()"></td>
</tr>
</table>
</div>