@* Generator: Template *@ 

@*@model ReservationService.WebInterface.ViewModels.SearchResultsViewModel*@

@functions {
	public Guid Model{get;set;}
}


<div>
<h3>Please enter your details</h3>
<form action="/Rooms/Summary" class="reservation_details_form">
<input type="hidden" name="Reservation.ReservationId" value="@Model" />
<input type="submit" value="Go to confirm" />
<script src="/Scripts/Services/ReservationService/ReservationDetailsForm.js" type="text/javascript"></script>
</form>
</div>