@* Generator: Template *@ 

@*@model ReservationService.WebInterface.ViewModels.SearchResultsViewModel*@

@functions {
	public CustomerWebsite.Events.ObtainingReservationDetails Model{get;set;}
}


<h3>Please enter your details</h3>
<input type="hidden" name="Reservation.ReservationId" value="@Model.ReservationId" />
<script src="/Scripts/Services/ReservationService/ReservationDetailsForm.js" type="text/javascript"></script>
