 @* Generator: Template *@ 

@*@model object*@
@functions  {
    public ReservationService.WebInterface.Models.SearchParameters Model { get; set; }
}

<script src="/Scripts/Services/ReservationService/SearchBox.js" type="text/javascript"></script>

<div class="search_room_box">
<form action="/Rooms/Search">
<p>
@if(Model==null) {
	<text>Find a room now:</text>
}
else {
	<text>Update your search</text>
}
</p>
<p>
From: <input type="text" name="search_from" value="@(Model!=null?Model.From.ToString("MM/dd/yyyy"):null)"/>
</p>
<p>
Till: <input value="@(Model!=null?Model.Till.ToString("MM/dd/yyyy"):null)" type="text" name="search_till" /><br />
</p>
<input type="submit" value="@(Model!=null?"Update search":"Search")" />

</form>

</div>