@* Generator: Template *@


@functions {
	public Guid  ReservationId{get;set;}
}

<div class="reservation_obtain_guest_details">	
<script type="text/javascript" src="/Scripts/Services/GuestService/ObtainGuestDetails.js"></script>
<input type="hidden" name="GuestService.ReservationId" value="@ReservationId" />
<p>
Firstname: <input type="text" name="GuestService.Firstname" class="required" title="Please enter your first name" />
</p>
<p>
Lastname: <input type="text" name="GuestService.Lastname"  title="Please enter your last name" class="required" />
</p>
<p>
E-mail: <input type="text" name="GuestService.Email" title="Please enter your email address" class="required email"/>
</p>
<p>
Phonenumber: <input type="text" name="GuestService.Phonenumber" title="Please enter a phone number" class="required" />
</p>
</div>