@* Generator: Template *@


@functions {
	public Guid  ReservationId{get;set;}
}

<div class="reservation_obtain_guest_details">	
<script type="text/javascript" src="/Scripts/Services/GuestService/ObtainGuestDetails.js"></script>
<input type="hidden" name="GuestService.ReservationId" value="@ReservationId" />
Firstname: <input type="text" name="GuestService.Firstname" /><br />
Lastname: <input type="text" name="GuestService.Lastname" /><br />
E-mail: <input type="text" name="GuestService.Email" /><br />
Phonenumber: <input type="text" name="GuestService.Phonenumber" /><br />
</div>