@*Generator:Template*@

<div class="summary_block">
<h3>Guest information</h3>
<table>
<tr>
<td>Name</td><td>Freek Paans</td>
</tr>
<tr>
<td>Email</td><td>freek@infi.nl</td>
</tr>
<tr>
<td>Phonenumber</td><td>06131312</td>
</tr>
</table>
</div>