@model Guid

@{
    ViewBag.Title = "Thank You";
}

<h2>Thank you!</h2>

<p>
Sed quis ante et eros elementum aliquam sit amet in ipsum. Proin purus neque, aliquet vel vestibulum quis, interdum non diam. Integer non laoreet sapien. Phasellus lorem nunc, fermentum a aliquet laoreet, elementum non velit. Sed nulla est, aliquam sed iaculis ac, ultrices ut sapien. Quisque posuere bibendum tellus, vitae porttitor nisl scelerisque at. Maecenas auctor, lorem nec auctor blandit, diam sem euismod lorem, vel fermentum risus orci at erat. Pellentesque nibh sapien, dignissim a facilisis et, dictum quis arcu. Quisque at nunc diam, id dictum ante. Duis et erat in enim rhoncus sagittis vel gravida nisl. Cras pharetra convallis adipiscing. Sed ullamcorper ullamcorper nulla. 
</p>
<p>
Your reservation has been handled under the following booking number: <em>@Model</em>. You will receive an e-mail with your final confirmation shortly.
</p>